<div class="container">
  <% if flash[:notice] %>
        <div class="alert alert-success" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <h1>Your Run Plan for Today</h1>
      
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="text-align:center">
      <% current_run = Run.find_by date: @today, runner_id: current_runner.id %>
      <h1>
      <% if current_run %>
          <div class="alert alert-info" role="alert">
            <%=  current_run.training_plan %>
          </div>
          <h2>Record Your Progress:</h2><br>
          <!-- Progess Update -->
          <%= form_for [@runner, current_run] do |f| %>
              <%= f.text_area :progress, rows:"6" %><br>
              <%= f.submit "Track Today", class: "btn btn-primary" %>
          <% end %>
      <% else %>

          <div class="alert alert-warning" role="alert"><strong>Oh snap!</strong> You don't have any runs planned for today!</div>
      <% end %>
      </h1>
    </div>
    <%= render 'shared/activities' %>
  </div>
</div>

