<%= form_for [@group, @planned_run] do |f| %>
    <% if @planned_run.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@planned_run.errors.count, "error") %> prohited this planned_run from being saved:</h2>
          <ul>
            <% @planned_run.errors.full_messages.each do |messages| %>
                <li><%= messages %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :date %><br>
      <%= f.text_field :date, required: true %>

    </div>

    <div class="field">
      <%= f.label :group_id %>
      <%= f.collection_select :group_id, Group.all, :id, :name, prompt: true%>
    </div>

    <div class="field">
      <%= f.label :training_plan %><br>
      <%= f.text_area :training_plan, cols: 40, rows: 5 %>
    </div>

    <div class="actions">
      <%= f.submit  %>
    </div>
<% end %>
