<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @planned_run.date %>
</p>

<p>
  <strong>Group Id:</strong>
  <%= @planned_run.group_id %>
</p>

<p>
  <strong>Training Plan</strong>
  <%= @planned_run.training_plan %>
</p>

<%= link_to 'Edit', edit_planned_run_path(@planned_run) %> |
<%= link_to 'Back', planned_runs_path %>