<p id="notice"><%= notice %></p>

<h1>Listing Group Training plans</h1>

<table>
  <thread>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thread>

  <tbody>
  <% @grouptrainingplans.each do |grouptrainingplan| %>
  <tr>
    <td><%= grouptrainingplan.date %></td>
    <td><%= grouptrainingplan.group_id%></td>
    <td><%= grouptrainingplan.trainingplan%></td>
    <td><%= grouptrainingplan.progress %></td>
  </tr>
      <% end %>
  </tbody>
</table>

<%= link_to 'New Group Training Plan', new_grouptrainingplan_path %>