<p id="notice"><%= notice %></p>

<h1>Listing Group Training plans</h1>

<table>
  <thread>
    <tr>
      <th>Date</th>
      <th>Group_id</th>
      <th>Training_Plan</th>
      <th colspan="4"></th>
    </tr>
  </thread>

  <tbody>
  <% @grouptrainingplans.each do |grouptrainingplan| %>
  <tr>
    <td><%= grouptrainingplan.date %></td>
    <td><%= grouptrainingplan.group_id %></td>
    <td><%= grouptrainingplan.trainingplan %></td>
    <td><%= link_to 'Show', grouptrainingplan %></td>
    <td><%= link_to 'Edit', edit_grouptrainingplan_path(grouptrainingplan) %></td>
    <td><%= link_to 'Destroy', grouptrainingplan, method: :delete, data: {confirm: 'Are you sure?' }%></td>
  </tr>
      <% end %>
  </tbody>
</table>

<%= link_to 'New Group Training Plan', new_grouptrainingplan_path %>