<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12">
    <h1>Runners!</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-sm-3 col-xs-2">
    <strong>NAME</strong>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-3">
    <strong>GROUP</strong>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2">
    <strong>ROLE</strong>
  </div>
  <% if runner_role == 'Coach' %>
  <div class="col-md-4 col-sm-4 col-xs-5">
    <strong>OPTIONS</strong>
  </div>
  <% end %>
</div>

<% @runners.each.with_index do |runner, index| %>
  <% if index % 2 ==0 %>
    <div class="row" style="background-color: #FBFB7A">
  <% else %>
    <div class="row" style="background-color: lightblue">
  <% end %>
  <div class="col-md-3 col-sm-3 col-xs-2">
    <%= image_tag runner.facebook_user.avatar_url, class: 'avatar', alt: runner.name unless runner.facebook_user.nil?%>
    <%= runner.name %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-3">
    <%= runner.group.nil? ? 'n/a' : runner.group.name %>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2">
    <%= runner.role %>
  </div>
  
  <div class="col-md-4 hidden-sm hidden-xs">
    <%= link_to 'Runs', runner_runs_path(runner), class: "btn btn-info" %>

    <%= link_to 'Show', runner, class: "btn btn-success" %>
    <%= link_to 'Edit', edit_runner_path(runner), class: "btn btn-primary" if runner_role == 'Coach' || runner.name == current_runner.name %>
    <%= link_to 'Delete', runner, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" if runner_role == 'Coach'%>
    <%= link_to 'Password', runner_pass_path(runner), class: "btn btn-warning" %>
    
    
  </div>

  <div class="hidden-lg hidden-md col-sm-4 col-xs-5">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal<%= index %>">Options</button>
    <!-- Modal -->
    <div id="myModal<%= index %>" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Options</h4>
          </div>

          <div class="modal-body">
            <%= link_to 'Runs', runner_runs_path(runner), class: "btn btn-info" %>
            <%= link_to 'Show', runner, class: "btn btn-success"%>
            <%= link_to 'Edit', edit_runner_path(runner), class: "btn btn-primary" if runner_role == 'Coach' || runner.name == current_runner.name %>
            <%= link_to 'Delete', runner, method: :delete, data: {confirm: 'Are you sure?' }, class: "btn btn-danger" if runner_role == 'Coach' %>
            <%= link_to 'Password', runner_pass_path(runner), class: "btn btn-warning" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>

        </div>

      </div>
    </div>
  </div>


  </div>
<% end %>


<% if runner_role == 'Coach' %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'New Runner', new_runner_path, class: "btn btn-info", style: "width: 100%; margin-top: 2em" %>
  </div>
</div>
<% end %>