<% if notice %>
<div class="alert alert-info"><%= notice %></div>
<% end %>
<div class="row">
     <div class="col-sm-5 bootcards-list">

       <div class="panel panel-default">
         <% if runner_role == 'Coach' %>
         <div class="panel-body">
 						<div class="search-form">
 							<div class="row">
 							    <div class="col-xs-9">
                    <!--
 							      <div class="form-group">
 								      <input type="text" class="form-control" placeholder="Search Runners...">
 								      <i class="fa fa-search"></i>
 							      </div>
                    -->
 							    </div>
 							    <div class="col-xs-3">

                  <a class="btn btn-primary btn-block" href="/runners/new">
                    <i class="fa fa-plus"></i><span>Add</span>
                  </a>
 							    </div>
 							</div>
 					 </div>
 				 </div>
         <% end %>

         <div class="list-group">
           <% @runners.each do |runner| %>
           <a class="list-group-item <%= 'active' if runner.id == @runner.id %>" href="<%= runner_path(runner) %>">
             <%= image_tag runner.facebook_user.avatar_url, class: 'img-rounded pull-left', alt: runner.name unless runner.facebook_user.nil? %>
             <h4 class="list-group-item-heading"><%=runner.name%></h4>
             <p class="list-group-item-text"><%=runner.role %></p>
           </a>
           <% end %>
         </div>
       </div>

     </div>
     <div class="col-sm-7 bootcards-cards">

       <% if @runner %>
       <div class="panel panel-default">

         <div class="panel-heading clearfix">
           <h3 class="panel-title pull-left"><%= @runner.name %></h3>
              <% if runner_role == 'Coach' || @runner.name == current_runner.name %>
              <a class="btn btn-primary pull-right" href="/runners/3/edit">
                <i class="fa fa-pencil"></i>Edit
             </a>
             <% end %>
           </div>
           <div class="list-group">
             <div class="list-group-item">
               <p class="list-group-item-text">Email</p>
               <h4 class="list-group-item-heading"><%= @runner.email %></h4>
             </div>
             <% if runner_role == 'Coach' || @runner.name == current_runner.name %>
             <div class="list-group-item">
               <p class="list-group-item-text">Training Group</p>
               <h4 class="list-group-item-heading"><%= @runner.group.nil? ? 'n/a' : @runner.group.name %></h4>
             </div>
             <div class="list-group-item">
               <p class="list-group-item-text">Role</p>
               <h4 class="list-group-item-heading"><%= @runner.role %></h4>
             </div>
             <% end %>


           </div>

         <div class="panel-footer">
           <small><i>Repeating is harder than anything else.</i> - Usain Bolt</small>
         </div>
         <% end %>
       </div>

     </div>
   </div>

</div>
