<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= image_tag "#{@runner.facebook_user.avatar_url}?width=200&height=200", class: 'avatar', alt: @runner.name unless @runner.facebook_user.nil?%>

    <strong>Name:</strong>
    <%= @runner.name %>
    <br>


    <strong>Group:</strong>
    <%= @runner.group.nil? ? 'n/a' : @runner.group.name %>
    <br>

    <strong>Email:</strong>
    <%= @runner.email %>
    <br>

    <strong>Role:</strong>
    <%= @runner.role %>
    <br><br>

  <%= link_to 'Edit', edit_runner_path(@runner), class: "btn btn-success" %> |
  <%= link_to 'Back', runners_path, class: "btn btn-info" %>
  </div>
</div>