<h1><%= current_runner.name %>'s Runs for <%= @today.to_formatted_s(:long_ordinal) %></h1>
<% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>

<% current_run = Run.find_by date: @today, runner_id: current_runner.id %>
<% if current_run %>
<p>Current Run: <%= current_run.training_plan %></p><br>
<%= link_to "Record Your Progress", edit_run_path(current_run.id), class: "btn btn-primary" %>
<% else %>
    <p>You have no runs scheduled for today.</p>
<% end %>
<br>

<%= link_to "Log Out", logout_path, method: :delete %>

