<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1>Your Run Plan for Today</h1>
      <% if flash[:notice] %>
          <p class="flash-notice"><%= flash[:notice] %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="text-align:center">
      <% current_run = Run.find_by date: @today, runner_id: current_runner.id %>
      <h1>
      <% if current_run %>
          <p><strong>Current Run:</strong> <%=  current_run.training_plan %></p>
          <h3>Record Your Progress:</h3><br>
          <!-- Progess Update -->
          <%= form_for current_run do |f| %>
              <%= f.text_area :progress %><br>
              <%= f.submit "Update", class: "btn btn-primary" %>
          <% end %>
      <% else %>

          <div class="alert alert-warning" role="alert"><strong>Oh snap!</strong> You don't have any runs planned for today!</div>
      <% end %>
      </h1>
    </div>
  </div>
</div>

