<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12">
    <h1>Listing Groups</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <strong>NAME</strong>
  </div>
  <div class="col-md-3">
    <strong>OPTIONS</strong>
  </div>
</div>

<% @groups.each.with_index do |group, index| %>
  <% if index % 2 == 0 %>
        <div class="row" style="background-color: #FBFB7A">
  <% else %>
        <div class="row" style="background-color: lightblue">
  <% end %>
  <div class="col-md-3">
    <%= group.name %>
  </div>
  <div class="col-md-3">
    <%= link_to 'Show', group, class: "btn btn-success" %>
    <%= link_to 'Edit', edit_group_path(group), class: "btn btn-primary" %>
    <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
  </div>
<% end %>

<br>

<%= link_to 'New Group', new_group_path %>
