<%= stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" %>
<%= form_for [@runner, @run] do |f| %>
    <% if @run.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@run.errors.count, "error") %> prohibited this runner from being saved:</h2>
          <ul>
            <% @run.errors.full_messages.each do |messages| %>
            <li><%= messages %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    
    <div class="field">
      <%= f.label :date %><br>
      <% if runner_role == 'Coach' %>
      <%= f.text_field :date, class: 'form-control' %>
      <% else %>
      <%= @run.date %>
      <% end %>
    </div>
    <div class="field">
      <% if runner_role == 'Coach' %>
      <%= f.label :training_plan %><br>
      <%= f.text_area :training_plan, rows:"6", class: 'form-control' %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :progress %><br>
      <%= f.text_area :progress, rows:"6", class: 'form-control' %>
    </div>

    <div class="field">
      <% if runner_role == 'Coach' %>
      <%= f.label :changed_flag, 'Custom' %>
      <%= f.check_box :changed_flag %>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit 'Update Run', :class => 'form-control btn btn-info' %>
    </div>


<% end %>

<script>
  //Javascrip to test if training_plan is different
  var training_plan;

  $(document).ready(function(){
      training_plan = $('#run_training_plan').val();
  });

    $('#run_training_plan').change(function(){
        $('#run_changed_flag').prop("checked",true);
            if (training_plan != $('#run_training_plan').val()){
                alert('different');
                $('#run_changed_flag').prop("checked",true);
            }
            else{
                alert('same')
                $('#run_changed_flag').prop("checked",false);
            }

    });
</script>