<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12">
    <h1>Listing Runs</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-sm-2 hidden-xs">
    <strong>RUNNER</strong>
  </div>
  <div class="col-md-2 col-sm-2 hidden-xs">
    <strong>DATE</strong>
  </div>
  <div class="col-md-3 col-sm-2 hidden-xs">
    <strong>TRAINING PLAN</strong>
  </div>
  <div class="col-md-2 col-sm-2 hidden-xs">
    <strong>PROGRESS</strong>
  </div>
  <div class="col-md-3 col-sm-4 hidden-xs">
    <strong>OPTIONS</strong>
  </div>
  <div class="hidden-lg hidden-md hidden-sm col-xs-12">
    <strong>RUN INFORMATION</strong>
  </div>
</div>

<% @run.each.with_index do |plans, index| %>
  <% if index % 2 == 0 %>
    <div class="row" style="background-color: #FBFB7A">
  <% else %>
    <div class="row" style="background-color: lightblue">
  <% end %>

  <div class="col-md-2 col-sm-2 hidden-xs">
    <%= plans.runner.name %>
  </div>

  <div class="col-md-2 col-sm-2 hidden-xs">
    <%= plans.date %>
  </div>

  <div class="col-md-3 col-sm-2 hidden-xs">
    <%= plans.training_plan %>
  </div>

  <div class="col-md-2 col-sm-2 hidden-xs">
    <%= plans.progress %>
  </div>

  <div class="col-md-3 col-sm-4 hidden-xs">
    <%= link_to 'Show', runner_run_path(@runner,plans), class: "btn btn-success" %>
    <%= link_to 'Edit', edit_runner_run_path(@runner,plans), class: "btn btn-primary" %>
    <% if runner_role == 'Coach' %>
      <%= link_to 'Delete', runner_run_path(@runner,plans), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
    <% end %>
  </div>

  <div class="hidden-lg hidden-md hidden-sm col-xs-12">
    <button type="button" class="btn btn-info" style="width:100%" data-toggle="modal" data-target="#myModal<%= index %>">Run: <%= index %></button>
  </div>

    <!-- Modal -->
    <div id="myModal<%= index %>" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Options</h4>
          </div>
          <div class="modal-body">
            <%= link_to 'Show', runner_run_path(@runner,plans), class: "btn btn-success"%>
            <%= link_to 'Edit', edit_runner_run_path(@runner,plans), class: "btn btn-primary" %>
            <% if runner_role == 'Coach' %>
              <%= link_to 'Delete', runner_run_path(@runner,plans), method: :delete, data: {confirm: 'Are you sure?' }, class: "btn btn-danger"%>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>

    </div>

    </div>
<% end %>

<br>
<% if runner_role == 'Coach' %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'New Run', new_runner_run_path(@runner), class: "btn btn-info", style: "width:100%" %>
  </div>
</div>
<% end %>
