<div class="row">
     <div class="col-sm-5 bootcards-list">

       <div class="panel panel-default">
         <div class="list-group">
           <% @runs.each do |run| %>
           <a class="list-group-item <%= 'active' if run.id == @run.id %>" href="<%= runner_run_path(run.runner, run) %>">
             <h4 class="list-group-item-heading"><%=run.date%></h4>
             <p class="list-group-item-text">Mileage: <%=run.mileage %></p>
           </a>
           <% end %>
         </div>
       </div>

     </div>
     <div class="col-sm-7 bootcards-cards">

       <% if @run %>
       <div class="panel panel-default">

         <div class="panel-heading clearfix">
           <h3 class="panel-title pull-left"><%= @run.date %></h3>
             <a class="btn btn-primary pull-right" href="#">
               <i class="fa fa-pencil"></i>
               Edit
             </a>
           </div>
           <div class="list-group">
             <div class="list-group-item">
               <p class="list-group-item-text">Mileage</p>
               <h4 class="list-group-item-heading"><%= @run.mileage %></h4>
             </div>
             <div class="list-group-item">
               <p class="list-group-item-text">Pace</p>
               <h4 class="list-group-item-heading"><%= @run.pace %></h4>
             </div>
             <div class="list-group-item">
               <p class="list-group-item-text">Duration</p>
               <h4 class="list-group-item-heading"><%= @run.duration %></h4>
             </div>
             <div class="list-group-item">
               <h4 class="list-group-item-heading">Notes</h4>
               <p class="list-group-item-text"><%= @run.progress %></p>
             </div>
           </div>

         <div class="panel-footer">
           <small><i>Repeating is harder than anything else.</i> - Usain Bolt</small>
         </div>
         <% end %>
       </div>

     </div>
   </div>

</div>
