<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <strong>Runner:</strong>
    <%= Runner.find(@run.runner_id).name %><br>



    <strong>Date:</strong>
    <%= @run.date %><br>



    <strong>Training Plan:</strong>
    <%= @run.training_plan %><br>



    <strong>Progress:</strong>
    <%= @run.progress %><br><br>


  <%= link_to 'Edit', edit_run_path(@run), class: "btn btn-success" %>
  <%= link_to 'Back',runner_runs_path(current_runner.id), class: "btn btn-info" %>
  </div>
</div>